<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Besa Tus Pies</title>
    <link
      rel="shortcut icon"
      href="../assets/img/icono.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>

  <body>
    <header>
      <div>
        <a href="../index.html">
          <img src="../assets/img/Logo.png" alt="logo" class="logo" />
        </a>
      </div>
      <div>
        <a
          href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!"
          target="_blank"
        >
          <img src="../assets/img/whatsapp.png" alt="whatsapp" class="redes" />
        </a>
        <a
          href="https://www.instagram.com/besatuspies/?hl=es-la"
          target="_blank"
        >
          <img
            src="../assets/img/instagram.png"
            alt="instagram"
            class="redes"
          />
        </a>
        <a
          href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado"
          target="_blank"
        >
          <img src="../assets/img/gmail.png" alt="facebook" class="redes" />
        </a>
      </div>
      <nav>
        <a class="nav__usuario" href="../views/crear_cuenta.html"
          >CREAR CUENTA</a
        >
        <a class="nav__usuario" href="#">
          <img
            src="../assets/img/carrito-de-compras.png"
            alt="carrito"
            class="carrito select__item"
          />
        </a>
        <a class="nav__usuario" href="../views/iniciar_sesion.html"
          >INICIAR SESIÓN</a
        >
      </nav>
      <nav>
        <ul>
          <li class="nav__item">
            <a href="../views/productos.html">PRODUCTOS</a>
          </li>
          <li class="nav__item">
            <a href="../views/que_talle_soy.html">QUE TALLE SOY</a>
          </li>
          <li class="nav__item">
            <a href="../views/revendedores.html">REVENDEDORES</a>
          </li>
          <li class="nav__item">
            <a href="../views/preguntas_y_politica_de_devolucion.html"
              >PREGUNTAS Y POLITICA DE DEVOLUCION</a
            >
          </li>
          <li class="nav__item">
            <a href="../views/contacto.html">CONTACTO</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="en__desarrollo">
      <p>Sitio en desarrollo</p>
    </main>

    <footer>
      <div class="footer__navegacion">
        <h2>NAVEGACION</h2>
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/que_talle_soy.html">Que talle soy</a></li>
        <li><a href="../views/revendedores.html">Revendedores</a></li>
        <li>
          <a href="../views/preguntas_y_politica_de_devolucion.html"
            >Preguntas y politica de devolucion</a
          >
        </li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </div>
      <div class="footer__contactanos">
        <h2>CONTACTANOS</h2>
        <li><p>11 5722 7989</p></li>
        <li><p>ventas@besatuspies.com.ar</p></li>
        <li><p>Luis Viale 654, Haedo</p></li>
        <li><p>@besatuspies</p></li>
      </div>
      <div>
        <a
          href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!"
          target="_blank"
        >
          <img
            src="../assets/img/whatsapp.png"
            alt="whatsapp"
            class="footer__redes"
          />
        </a>
        <a
          href="https://www.instagram.com/besatuspies/?hl=es-la"
          target="_blank"
        >
          <img
            src="../assets/img/instagram.png"
            alt="instagram"
            class="footer__redes"
          />
        </a>
        <a
          href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado"
          target="_blank"
        >
          <img
            src="../assets/img/gmail.png"
            alt="facebook"
            class="footer__redes"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
