<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Besa Tus Pies</title>
    <link rel="shortcut icon" href="../assets/img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <header class="grid">
        <div>
            <a href="../index.html">
                <img src="../assets/img/Logo.png" alt="logo" class="logo">
            </a>
        </div>
        <div>
            <a href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!" target="_blank">
                <img src="../assets/img/whatsapp.png" alt="whatsapp" class="redes">
            </a>
            <a href="https://www.instagram.com/besatuspies/?hl=es-la" target="_blank">
                <img src="../assets/img/instagram.png" alt="instagram" class="redes">
            </a>
            <a href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado" target="_blank">
                <img src="../assets/img/gmail.png" alt="facebook" class="redes">
            </a>
        </div>
        <nav>
            <ul>
                <li class="nav__item"><a href="../views/productos.html">PRODUCTOS</a></li>
                <li class="nav__item"><a href="../views/que_talle_soy.html">QUE TALLE SOY</a></li>
                <li class="nav__item"><a href="../views/revendedores.html">REVENDEDORES</a></li>
                <li class="nav__item"><a href="../views/preguntas_y_politica_de_devolucion.html">PREGUNTAS Y POLITICA DE DEVOLUCION</a></li>
                <li class="nav__item"><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main">
        <form action="# ">
            <input type="text" name="nombre" placeholder="NOMBRE"><br><br>
            <input type="text" name="apellido" placeholder="APELLIDO"><br><br>
            <input type="text" name="telefono" placeholder="TELEFONO"><br><br>                      
        <div>
            CONSULTA:
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div><br>
        <div>Acepto recibir novedades.
            <input type="checkbox" name="aceptar" value="1">
        </div><br>
        <input type="submit" value="ENVIAR">
        <input type="reset" value="RESET">
        <input type="button" value="CANCELAR">
    </form>
    </main>
    
    <footer class="footer">
        <div class="footer__navegacion">
            <h2 class="footer__h2">NAVEGACION</h2>
            <li class="footer__h3"><a href="../views/productos.html">Productos</a></>
            <li class="footer__h3"><a href="../views/que_talle_soy.html">Que talle soy</a></li>
            <li class="footer__h3"><a href="../views/revendedores.html">Revendedores</a></li>
            <li class="footer__h3"><a href="../views/preguntas_y_politica_de_devolucion.html">Preguntas y politica de devolucion</a></li>
            <li class="footer__h3"><a href="#">Contacto</a></li>
        </div>
        <div class="footer__contactanos">
            <h2 class="footer__h2">CONTACTANOS</h2>
            <li class="footer__h3"><P>11 5722 7989</P></li>
            <li class="footer__h3"><P>ventas@besatuspies.com.ar</P></li>
            <li class="footer__h3"><P>Luis Viale 654, Haedo</P></li>
            <li class="footer__h3"><P>@besatuspies</P></li>
        </div>
    </footer>  
    
</body>
</html>