<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Besa Tus Pies</title>
    <link rel="shortcut icon" href="../assets/img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <!-- APERTURA CONTENDOR PADRE GRID -->
    <div class="contenedorPadre">

        <!-- ITEM HIJO GRID -->
        <header class="grid-header">
            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/img/Logo.png" alt="logo" class="img-logo">
                </a>
            </div>
            <section class="usuario">
                <a class="puntero" href="../views/crear_cuenta.html">CREAR CUENTA</a>
                <a class="puntero" href="../views/carrito.html">
                    <img src="../assets/img/carrito-de-compras.png" alt="carrito" class="img-carrito" />
                </a>
                <a class="puntero" href="../views/iniciar_sesion.html">INICIAR SESIÓN</a>
            </section>
            <nav>
                <ul>
                    <li class="puntero"><a href="#">PRODUCTOS</a></li>
                    <li class="puntero"><a href="../views/que_talle_soy.html">QUE TALLE SOY</a></li>
                    <li class="puntero"><a href="../views/revendedores.html">REVENDEDORES</a></li>
                    <li class="puntero"><a href="../views/preguntas_y_politica_de_devolucion.html">PREGUNTAS Y
                            POLITICADE
                            DEVOLUCION</a></li>
                    <li class="puntero"><a href="../views/contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="redes">
                <a href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!"
                    target="_blank">
                    <img src="../assets/img/whatsapp.png" alt="whatsapp" class="img-redes">
                </a>
                <a href="https://www.instagram.com/besatuspies/?hl=es-la" target="_blank">
                    <img src="../assets/img/instagram.png" alt="instagram" class="img-redes">
                </a>
                <a href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado" target="_blank">
                    <img src="../assets/img/gmail.png" alt="facebook" class="img-redes">
                </a>
            </div>
        </header>
        <!-- CIERRE ITEM HIJO GRID -->

        <!-- SEGUNDO ITEM HIJO GRID -->
        <main class="productos_grid-main">
            <article>
                <img src="../assets/img/selma.png" alt="selma">
                <h2>SELMA</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 9.090</p>
            </article>
            <article>
                <img src="../assets/img/keit.png" alt="keit">
                <h2>KEIT</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article>
                <img src="../assets/img/bolso.png" alt="bolso">
                <h2>KEIT</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article>
                <img src="../assets/img/gomon-g22.png" alt="gomon">
                <h2>SELMA</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 9.090</p>
            </article>
            <article>
                <img src="../assets/img/sandalia-teva.png" alt="teva">
                <h2>KEIT</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article>
                <img src="../assets/img/zapatillas-denver.png" alt="denver">
                <h2>KEIT</h2>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
        </main>
        <!-- CIERRE SEGUNDO ITEM HIJO GRID -->

        <!-- TERCER ITEM HIJO GRID -->
        <footer class="grid-footer">
            <div class="fooNav">
                <h2>NAVEGACION</h2>
                <p><a href="#">Productos</a></p>
                <p><a href="../views/que_talle_soy.html">Que talle soy</a></p>
                <p><a href="../views/revendedores.html">Revendedores</a></p>
                <p><a href="../views/preguntas_y_politica_de_devolucion.html">Preguntas y politica dedevolucion</a></p>
                <p><a href="../views/contacto.html">Contacto</a></p>
            </div>
            <div class="fooRedes">
                <a href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!"
                    target="_blank">
                    <img src="../assets/img/whatsapp.png" alt="whatsapp" class="img-redes">
                </a>
                <a href="https://www.instagram.com/besatuspies/?hl=es-la" target="_blank">
                    <img src="../assets/img/instagram.png" alt="instagram" class="img-redes">
                </a>
                <a href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado" target="_blank">
                    <img src="../assets/img/gmail.png" alt="facebook" class="img-redes">
                </a>
            </div>
            <div class="fooCont">
                <h2>CONTACTANOS</h2>
                <p>11 5722 7989</P>
                <p>ventas@besatuspies.com.ar</P>
                <p>Luis Viale 654, Haedo</P>
                <p>@besatuspies</P>
            </div>
        </footer>
        <!-- CIERRE TERCER ITEM HIJO GRID -->
    </div>
    <!-- CIERRE CONTENEDOR PADRE GRID -->
</body>

</html>