<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Besa Tus Pies</title>
    <link rel="shortcut icon" href="../assets/img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <header>
        <div class="logo border">
            <a href="../index.html">
                <img src="../assets/img/Logo.png" alt="logo" class="img-logo">
            </a>
        </div>
        <nav class="nav border">
            <ul>
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="../views/que_talle_soy.html">QUE TALLE SOY</a></li>
                <li><a href="../views/revendedores.html">REVENDEDORES</a></li>
                <li><a href="../views/preguntas_y_politica_de_devolucion.html">PREGUNTAS Y POLITICA DE DEVOLUCION</a>
                </li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="redes border">
            <a href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!" target="_blank">
                <img src="../assets/img/whatsapp.png" alt="whatsapp" class="img-redes">
            </a>
            <a href="https://www.instagram.com/besatuspies/?hl=es-la" target="_blank">
                <img src="../assets/img/instagram.png" alt="instagram" class="img-redes">
            </a>
            <a href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado" target="_blank">
                <img src="../assets/img/gmail.png" alt="facebook" class="img-redes">
            </a>
        </div>
    </header>

    <main>
        <section class="prod border">
            <article class="border">
                <img src="../assets/img/selma.png" alt="selma">
                <P>SELMA</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 9.090</p>
            </article>
            <article class="border">
                <img src="../assets/img/keit.png" alt="keit">
                <P>KEIT</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article class="border">
                <img src="../assets/img/keit.png" alt="keit">
                <P>KEIT</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article class="border">
                <img src="../assets/img/selma.png" alt="selma">
                <P>SELMA</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 9.090</p>
            </article>
            <article class="border">
                <img src="../assets/img/keit.png" alt="keit">
                <P>KEIT</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
            <article class="border">
                <img src="../assets/img/keit.png" alt="keit">
                <P>KEIT</P>
                <p>Sandalia</p>
                <P>Talles del 35 al 39</P>
                <p>Negro / Blanco / Beige</p>
                <p>$ 5.090</p>
            </article>
        </section>
    </main>

    <footer>
        <div class="fooNav border">
            <h3>NAVEGACION</h3>
            <p><a href="#">Productos</a></p>
            <p><a href="../views/que_talle_soy.html">Que talle soy</a></p>
            <p><a href="../views/revendedores.html">Revendedores</a></p>
            <p><a href="../views/preguntas_y_politica_de_devolucion.html">Preguntas y politica de devolucion</a></p>
            <p><a href="../views/contacto.html">Contacto</a></p>
        </div>
        <div class="fooCont border">
            <h3>CONTACTANOS</h3>
            <p>
            <P>11 5722 7989</P>
            </p>
            <p>
            <P>ventas@besatuspies.com.ar</P>
            </p>
            <p>
            <P>Luis Viale 654, Haedo</P>
            </p>
            <p>
            <P>@besatuspies</P>
            </p>
        </div>
        <div class="fooRedes border">
            <a href="https://api.whatsapp.com/send?phone=+5491157227989&text=Hola, quiero consultar!" target="_blank">
                <img src="../assets/img/whatsapp.png" alt="whatsapp" class="img-redes">
            </a>
            <a href="https://www.instagram.com/besatuspies/?hl=es-la" target="_blank">
                <img src="../assets/img/instagram.png" alt="instagram" class="img-redes">
            </a>
            <a href="mailto:mdg30067531@gmail.com?Subject=Consulta%20calzado" target="_blank">
                <img src="../assets/img/gmail.png" alt="facebook" class="img-redes">
            </a>
        </div>
    </footer>
</body>

</html>